<div class="container">
  <div class="profile">
    <div class="profile-image">
      <img [src]="user.image" alt="" />
    </div>
    <div class="profile-info">
      <h2>{{ user.username }}</h2>
      <h3>{{ user.email }}</h3>
      <h3>{{ user.phone }}</h3>
      <h3>{{ user.address }}</h3>
    </div>
  </div>
  @if(!this.users.isAdmin()){
  <div class="profile-orders">
    <h2>Orders</h2>
    <div class="order">
      @for (item of user.panier; track $index) {
      <div class="card">
        <div class="order-image">
          <img [src]="item.phoneimage" alt="" />
        </div>
        <div class="order-info">
          <h3>{{ item.phonename }}</h3>
          <h4>Order Date: {{ item.orderdate | date }}</h4>
          <h4>Order qte: {{ item.phoneqte }}</h4>
          <h4>Order Total: {{ item.phoneprice | currency }}</h4>
        </div>
      </div>
      }
    </div>
  </div>
  } @else {
  <div class="add-cont">
    <a [routerLink]="'/addphone'" class="add">
      <mat-icon>add_circle</mat-icon>
      <h2>Add Product</h2>
    </a>
  </div>
  }
</div>
