<div class="container">
  <div class="profile">
    <div class="profile-image">
      <img [src]="user.image" alt="" />
    </div>
    <div class="profile-info">
      <h2>{{ user.username }}</h2>
      <h3>{{ user.email }}</h3>
      <h3>{{ user.phone }}</h3>
      <h3>{{ user.address }}</h3>
    </div>
  </div>
  @if(!this.users.isAdmin()){
  <app-cart></app-cart>
  } @else {
  <div class="add-cont">
    <a [routerLink]="'/addphone'" class="add">
      <mat-icon>add_circle</mat-icon>
      <h2>Add Product</h2>
    </a>
  </div>
  <div class="users-list">
    <table class="table">
      @for (user of this.users.users; track $index) {
      <tr>
        <td class="icon"><img [src]="user.image" alt="" /></td>
        <td class="text">{{ user.username }}</td>
        <td class="text">{{ user.email }}</td>
        @if(user.status == 'admin'){
        <td class="text normal">{{ user.status }}</td>
        }@else {
        <td class="text normal">{{ user.status }}</td>
        <td (click)="this.users.deleteUser(user.id)">
          <span class="btn btn-danger">Delete User</span>
        </td>
        }
      </tr>
      }
    </table>
  </div>
  }
</div>
