<nav #nav>
  <h3 id="header-title">Capeesh</h3>
  <ul class="nav-ul">
    <li id="search">
      <input
        [class.disabled]="!clicked"
        type="search"
        type="search"
        name="search"
        id="search-input"
        placeholder="Search..."
        class="search-input"
      />

      <mat-icon (click)="clicked = !clicked" id="search-icon">search</mat-icon>
    </li>
    <li class="links">
      <a routerLink="/home" class="linkText">
        <i class="bx bx-home-circle"></i> Home</a
      >
    </li>
    <li class="links"><a class="linkText" routerLink="/store">Store</a></li>
    <li class="links"><a class="linkText" routerLink="/about">About</a></li>
    @if(this.users.isLoggedIn()){
    <li id="profile">
      <div class="user">
        <a
          class="linkText"
          [routerLink]="'/profile/' + this.users.currentUser.id"
          ><img [src]="this.users.currentUser.image" id="profile-img" alt=""
        /></a>
      </div>
    </li>
    <li class="links">
      <a class="linkText" (click)="this.users.logout()">Logout</a>
    </li>
    }@else{
    <li class="links login">
      <a class="linkText" routerLink="/login"> Login </a>
    </li>
    }
  </ul>
</nav>
