<nav>
  <h3>Capeesh</h3>
  <ul>
    <li id="search">
      @if(clicked) {
      <input
        type="search"
        name="search"
        placeholder="Search..."
        class="search-input disabled"
      />
      }
      <mat-icon (click)="clicked = true" id="search-icon">search</mat-icon>
    </li>
    <li>
      <a routerLink="/home"> <i class="bx bx-home-circle"></i> Home</a>
    </li>
    <li><a routerLink="/store">Store</a></li>
    <li><a routerLink="/about">About</a></li>
    <li id="login"><a routerLink="/login"> Login </a></li>
  </ul>
</nav>
