<nav #nav>
  <h3 id="header-title">Capeesh</h3>
  <ul>
    <li id="search">
      <input
        [class.disabled]="!clicked"
        type="search"
        type="search"
        name="search"
        id="search-input"
        placeholder="Search..."
        class="search-input"
      />

      <mat-icon (click)="clicked = !clicked" id="search-icon">search</mat-icon>
    </li>
    <li class="links">
      <a routerLink="/home"> <i class="bx bx-home-circle"></i> Home</a>
    </li>
    <li class="links"><a routerLink="/store">Store</a></li>
    <li class="links"><a routerLink="/about">About</a></li>
    <li class="login">
      <a routerLink="/login"> Login </a>
    </li>
  </ul>
</nav>
