.profile-orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90vw;
  margin: auto;
}

.order {
  position: relative;
  display: grid;
  width: 90vw;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  margin: auto;
}
.order img {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  transition: 0.2s ease-in-out;
}
.order .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
.order .card .card-detail p {
  opacity: 0;
  position: relative;
  font-size: 25px;
  font-weight: normal;
}
.order .card:hover {
  background-color: #848484;
  color: #fff;
  cursor: pointer;
}
.order .card:hover .card-detail p {
  opacity: 1;
}
.order .card:hover img {
  top: -20%;
  transform: scale(1.1);
}
