<div class="profile-orders">
  <h2>Orders</h2>
  <div class="order">
    @for (item of user.panier; track $index) {
    <div class="card">
      <div class="order-image">
        <img [src]="item.phoneimage" alt="" />
      </div>
      <div class="order-info">
        <h3>{{ item.phonename }}</h3>
        <h4>Order Date: {{ item.orderdate | date }}</h4>
        <h4>Order qte: {{ item.phoneqte }}</h4>
        <h4>Order Total: {{ item.phoneprice | currency }}</h4>

        <button class="btn" (click)="buy(item)">Buy</button>
      </div>
    </div>
    }
  </div>
</div>
