/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
*::selection {
  background-color: #525252;
  color: white;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
}
