<div class="container" #cont>
  <div class="suggs" #suggs id="suggs">
    <div class="details">
      <h2 class="det">{{ randomPhone.name }}</h2>
      <h3 class="det">{{ randomPhone.brand }}</h3>
      <p class="det">{{ randomPhone.description }}</p>
      <div class="link det">
        <a [routerLink]="'/phone/' + randomPhone.id">View Details</a>
      </div>
    </div>
    <div class="image">
      <img [src]="randomPhone.image" alt="phone" />
    </div>
  </div>
  <div class="promo-cont" #promo>
    <h2 id="title">Promos</h2>
    <div class="promo">
      <div class="card" *ngFor="let promo of promoPhones">
        <div [routerLink]="'/phone/' + promo.id">
          <div class="image">
            <img [src]="promo.image" alt="phone" />
          </div>
          <div class="card-detail">
            <p>{{ promo.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
