.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 90vw;
  margin: auto;
}

.suggs {
  opacity: 1;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
  overflow: hidden;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
}
.suggs .link a {
  display: block;
  width: 30vw;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  background-color: #525252;
  border-radius: 15px;
  padding: 20px 200px;
  transition: 0.2s ease-in-out;
}
.suggs .link:hover a {
  letter-spacing: 2px;
}

.suggs img {
  width: 700px;
  height: 670px;
}
h2 {
  font-size: 3vw;
  font-weight: normal;
}
h3 {
  font-size: 1.5vw;
  font-weight: normal;
}
p {
  font-size: 1vw;
  font-weight: normal;
}

.promo-cont h2 {
  font-size: 70px;
  font-weight: normal;
}
.promo-cont {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  width: 90vw;
  margin: auto;
}

.promo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  margin: auto;
}
.promo img {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  transition: 0.2s ease-in-out;
}
.promo .card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
.promo .card .card-detail p {
  opacity: 0;
  position: relative;
  font-size: 25px;
  font-weight: normal;
}
.promo .card:hover {
  background-color: #848484;
  color: #fff;
  cursor: pointer;
}
.promo .card:hover .card-detail p {
  opacity: 1;
}
.promo .card:hover img {
  top: -20%;
  transform: scale(1.1);
}
